{% extends "layout.html" %}

{% block title %}Contactanos{% endblock %}

{% block content %}

    <div class="row">
        <h2 class="col-xs-12 text-xs-center m-t-2">Contacto</h2>

        <p class="offset-md-2 col-md-8 offset-xs-1 col-xs-10 m-t-2 text-xs-justify" style="font-size: 1.5rem">
            Escribenos todas tus dudas y preguntas, te responderemos en menos de 24 hrs.
            Nuestra atención al cliente es muy importante.
        </p>

        <div class="offset-md-2 col-md-8 offset-xs-1 col-xs-10">
            <form method="post" action="" class="m-t-2">
                {% csrf_token %}

                {% for field in form %}
                    <div class="form-group">
                        {% if field.errors %}
                            {{ field.errors }}
                        {% endif %}
                        {{ field }}
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>


{% endblock %}
