{% extends "layout.html" %}
{% load static from staticfiles %}

{% block title %}Bytes & Gears{% endblock %}

{% block content %}

    <div class="embed-responsive embed-responsive-16by9">
        <video autoplay loop id="bgvid">
            <source src="{% static 'video/binario.mp4' %}" type="video/mp4">
            <!--<source src="video/binario.ogg" type="video/ogg">-->
        </video>
        <!--
        <div id="overlay" class="hidden-sm-down">
            <img src="{% static 'img/bgxs.png' %}">
        </div>-->
    </div>

    <div class="row presnt-cont">
        <div class="col-lg-6 col-xs-12 p-t-3">
            <h1 class="text-xs-center" id="somos">¿Quiénes Somos?</h1>
            <p class="text-justify text-present">
                Somos una empresa creativa e innovadora, que integra las más novedosas tendencias tecnológicas para
                proveer servicios de ingeniería y brindar soluciones excepcionales, acercando a nuestros clientes a la
                industria 4.0 en México y el mundo.
            </p>
        </div>
        <img class="col-lg-6 col-xs-12" height="367" src="{% static 'img/IoT.png' %}">
    </div>

    <div class="row presnt-cont" id="hacemos">
        <img class="col-lg-6 col-xs-12" height="367" src="{% static 'img/proyec.jpg' %}">
        <div class="col-lg-6 p-t-3 col-xs-12">
            <h1 class="text-xs-center">¿Qué Hacemos?</h1>
            <p class="text-justify text-present" style="">
                Aprovechando las nuevas tecnologías y el conocimiento experto de nuestro equipo, brindamos soluciones
                y servicios de ingeniería en los sectores más importantes de la industria, integrando y desarrollando
                sistemas dedicados a las necesidades del mercado.
            </p>
        </div>
    </div>

    <div ng-controller="portaController" id="porta" class="m-t-2">
        <porta ng-hide="watching"></porta>
        <skill class="m-t-2" ng-show="watching"></skill>
    </div>


    <h2 class="text-xs-center m-t-2 p-b-2">
        <a href="{% static 'others/documents/BGToferta.pdf' %}">
            Para más información, consulta nuestra presentación por áreas
        </a>
    </h2>

        <h1 class="text-xs-center m-t-2">Demostraciones</h1>
        <h3 style="margin-left: 2.5%; margin-top: 20px">
            Demo de sistema de control de bombeo inteligente
        </h3>
        <div class="row">
            <div class="col-xs-12">
                <p class="text-justify w" style="margin: 0 2.5%; padding-bottom: 30px; padding-right: -15px">
                    La presente demostración es un ejecutable donde el usuario podrá comprobar el funcionamiento de nuestro sistema
                    de control de bombeo para suministrar su recurso hídrico desde una cisterna hasta un tinaco, sin sufrir
                    problemas de abastecimiento y con la ventaja de que nuestros electrodos proveen una función antisarro comprobada
                    hasta por 10 años de uso. <a href="others/demos/Control_de_nivel_inteligente_BGT_LC01.exe">
                    Descargalo aquí</a>
                </p>


            </div>
        </div>
    <!--
    <div class="row">
        <img src="{% static 'img/isaac.jpg' %}">
        <p></p>
    </div>


    <div ng-controller="portaController" id="porta" class="m-t-2">
        <porta ng-hide="watching"></porta>
        <area class="m-t-2" ng-show="watching"></area>
    </div>

    <h2 class="text-xs-center m-t-2 p-b-2">
        <a href="others/documents/BGToferta.pdf">
            Para más información, consulta nuestra presentación por áreas
        </a>
    </h2>

    <div class="content">
        <h1 class="text-xs-center m-t-2">Demostraciones</h1>
        <h3 style="margin-left: 2.5%; margin-top: 20px">
            Demo de sistema de control de bombeo inteligente
        </h3>
        <div class="row">
            <div class="col-xs-12">
                <p class="text-justify w" style="margin: 0 2.5%; padding-bottom: 30px; padding-right: -15px">
                    La presente demostración es un ejecutable donde el usuario podrá comprobar el funcionamiento de nuestro sistema
                    de control de bombeo para suministrar su recurso hídrico desde una cisterna hasta un tinaco, sin sufrir
                    problemas de abastecimiento y con la ventaja de que nuestros electrodos proveen una función antisarro comprobada
                    hasta por 10 años de uso. <a href="others/demos/Control_de_nivel_inteligente_BGT_LC01.exe">
                    Descargalo aquí</a>
                </p>


            </div>
        </div>
    </div>
    -->
    <div ng-controller="contactController" class="row contact p-t-3 p-b-3 carro" id="contact">
        <div class="col-xs-12 col-md-4">
            <h2 class="text-xs-center">Contacto para TI</h2>
            <p class="text-xs-center">
                Escribenos a: marcos.lopez@bytesandgears.com
            </p>
        </div>
        <div class="col-xs-10 offset-xs-1 col-md-3 m-t-1">
            <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="goContacto()">Contáctanos</button>
        </div>
        <div class="col-xs-12 col-md-4 m-t-1" class="contact">
            <h2 class="text-xs-center">Contacto para IMT</h2>
            <p class="text-xs-center">Escribenos a: isaac.gonzalez@bytesandgears.com</p>
        </div>

        <div class="col-xs-12 text-xs-center m-t-2">Toluca de Lerdo y Ciudad de México</div>
    </div>

    <script src="{% static 'js/jQuery/index.js' %}"></script>
{% endblock %}