<div class="row p-t-3 p-b-3" style="margin-right: 0">
    <img class="col-md-4 col-lg-4 col-xl-4 col-xs-12 offset-md-1 offset-lg-1 offset-xl-1" ng-src="{{ area.img }}" alt="Card image cap">
    <div class="col-md-6 col-lg-6 col-xl-6 offset-md-1 offset-lg-1 offset-xl-1 col-xs-12">
        <h1 class="text-xs-center">{{ area.title }}</h1>
        <ul class="m-t-1">
            <li ng-repeat="l in area.list" class="m-t-2">
                <h4>{{ l }}</h4>
            </li>
        </ul>

        <button class="btn btn-danger m-t-3 m-l-3" ng-click="backToPorta()">Regresar</button>
    </div>
</div>